//BIO
.bio {
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 60px 80px;

    > h2 {
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: black;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
    }

    > p {
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: black;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 20px;
    }

    > a {
      display: inline-block;
      margin-bottom: 20px;
      padding: 8px;
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-weight: 1000;
      letter-spacing: 1px;
      font-size: 14px;
      background-color: #00ffa3;
      color: rgb(78, 78, 78);
      margin-top: 20px;
      text-transform: uppercase;
      box-shadow: 2px 3px 15px 0px rgba(122, 122, 122, 1);
      text-align: center;
      transition: 0s;
    }
  }
}
