//MEDIA

//576PX
@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .hidden-xs {
    display: block;
  }

  .hidden-sm {
    display: none;
  }
}

//768PX
@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .hidden-sm {
    display: block;
  }

  .hidden-md {
    display: none;
  }

  .gallery {
    .pallets {
      .sidepictures {
        justify-content: space-evenly;
        .pic1 {
          width: 30%;
          height: 120px;
        }
        .pic2 {
          width: 30%;
          height: 120px;
        }
        .pic3 {
          width: 30%;
          height: 120px;
        }
        .pic4 {
          width: 30%;
          height: 120px;
        }
      }
      .centerpicture {
        .pic5 {
          width: 30%;
          height: 240px;
        }
      }
    }
  }

  .note {
    .napis {
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 18px;
      }
    }
    .zbior {
      .cytat {
        .profile {
          width: 60px;
          height: 60px;
          margin-left: -130px;
        }

        .tekst {
          .komentarz {
            font-size: 20px;
            width: 300px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}

//992PX
@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .hidden-md {
    display: block;
  }

  .hidden-lg {
    display: none;
  }

  .header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 500px;

    .inner-main {
      align-items: flex-start;
      margin-left: 20px;

      p {
        text-align: left;
      }

      a {
        transition: 0.3s;
      }

      a:hover {
        background-color: antiquewhite;
      }
    }
  }

  .adv {
    a:hover {
      background-color: rgb(187, 185, 185);
    }
  }

  .bio {
    div {
      margin: 10px 120px;
      padding: 50px 200px;

      h2 {
        font-size: 35px;
      }

      p {
        font-size: 25px;
      }

      a {
        transition: 0.3s;
        padding: 20px;
        font-size: 18px;
      }
      a:hover {
        background-color: #01c27e;
      }
    }
  }

  .posts {
    flex-direction: row;
    justify-content: space-evenly;
    height: 400px;

    div {
      width: 30%;
      transition: 0.5s;

      p {
        font-size: 16px;
      }
    }

    div:hover {
      margin-bottom: -30px;
    }
  }

  .products {
    div {
      margin: 10px 120px;
      padding: 50px 200px;

      h2 {
        font-size: 35px;
      }

      p {
        font-size: 25px;
      }
    }
  }

  .gallery {
    .pallets {
      flex-direction: row;
      justify-content: space-between;
      width: 60%;
      .sidepictures {
        flex-direction: column;
        justify-content: space-between;
        .pic1 {
          width: 90%;
          height: 180px;
          margin-bottom: 10px;
        }
        .pic2 {
          width: 90%;
          height: 180px;
        }
        .pic3 {
          width: 90%;
          height: 180px;
          margin-bottom: 10px;
        }
        .pic4 {
          width: 90%;
          height: 180px;
        }
      }
      .centerpicture {
        .pic5 {
          width: 90%;
          height: 370px;
        }
      }
    }

    a {
      transition: 0.3s;
      padding: 20px;
      font-size: 18px;
    }
    a:hover {
      background-color: #01c27e;
    }
  }

  .note {
    .napis {
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 26px;
      }
    }
    .zbior {
      flex-direction: row;
      .cytat {
        width: 50%;

        .tekst {
          .komentarz {
            width: 350px;
          }
        }
      }
    }
  }

  .footer {
    .contact {
      .kontakt1 {
        h2 {
          font-size: 35px;
        }
      }
      .kontakt2 {
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;

        .kolumna1 {
          width: 250px;
          h3 {
            font-size: 25px;
          }
        }
        nav {
          width: 250px;

          .linki {
            a {
              font-size: 16px;
            }
            a:hover {
              color: #44f7b8;
            }
          }
        }
        .kolumna3 {
          width: 250px;
          font-size: 18px;
          margin: 0;
        }
      }
    }
    .copyright {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p {
        margin-bottom: 0;
      }

      a:hover {
        color: #44f7b8;
      }
    }
  }
}

//1200PX
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .hidden-lg {
    display: block;
  }

  .hidden-xl {
    display: none;
  }
}
