//RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//CLASSES
.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.hidden-xs {
  display: none;
}
//HEADER
.header-main-fluid {
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    #3dcdbc,
    #2bc3c0,
    #22b8c2,
    #27adc1,
    #33a2bd
  );
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;

  img {
    width: 80%;
    max-width: 300px;
  }

  .inner-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    > h2 {
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: white;
      text-align: center;
      font-weight: 500;
      font-size: 24px;
    }

    > p {
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: white;
      text-align: center;
      font-weight: 300;
      font-size: 15px;
    }

    > a {
      display: inline-block;
      margin-bottom: 20px;
      padding: 10px;
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      letter-spacing: 1px;
      background-color: white;
      color: #22b8c2;
      margin-top: 20px;
      box-shadow: 2px 3px 15px 0px rgba(122, 122, 122, 1);
      transition: 0s;
    }
  }
}
//ADVERTISMENT
.adv {
  background: #d9d7d6;
  background: -webkit-linear-gradient(top, #d9d7d6, #f2efed);
  background: -moz-linear-gradient(top, #d9d7d6, #f2efed);
  background: linear-gradient(to bottom, #d9d7d6, #f2efed);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
  box-shadow: inset 0px 0px 30px 10px rgba(136, 136, 136, 0.75);

  > a {
    text-decoration: none;
    transition: 0.2s;
    padding: 10px;
    border-radius: 5px;
  }
}

//BIO
.bio {
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 60px 80px;

    > h2 {
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: black;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
    }

    > p {
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: black;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 20px;
    }

    > a {
      display: inline-block;
      margin-bottom: 20px;
      padding: 8px;
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-weight: 1000;
      letter-spacing: 1px;
      font-size: 14px;
      background-color: #00ffa3;
      color: rgb(78, 78, 78);
      margin-top: 20px;
      text-transform: uppercase;
      box-shadow: 2px 3px 15px 0px rgba(122, 122, 122, 1);
      text-align: center;
      transition: 0s;
    }
  }
}

//POSTS
.posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 30px 30px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 2px 3px 15px 0px rgb(187, 187, 187);

    img {
      height: 20px;
      margin-right: 10px;
      color: #00ffa3;
    }

    h2 {
      font-size: 20px;
      font-family: "Raleway", sans-serif;
      font-weight: 1000;
    }

    p {
      font-size: 12px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      margin-top: 10px;
      line-height: 24px;
    }
  }
}

//PRODUCTS
.products {
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 20px 80px;

    h2 {
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: black;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
    }

    p {
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: black;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
    }
  }
}

//GALLERY
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pallets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .sidepictures {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      width: 80%;
      margin-bottom: 10px;
      margin-top: 10px;

      .pic1 {
        height: 80px;
        width: 45%;
        box-shadow: 2px 3px 50px 0px rgb(179, 179, 179);

        background: #e5a471;
        background: -webkit-linear-gradient(top, #e5a471, #e6b893);
        background: -moz-linear-gradient(top, #e5a471, #e6b893);
        background: linear-gradient(to bottom, #e5a471, #e6b893);
      }

      .pic2 {
        height: 80px;
        width: 45%;
        box-shadow: 2px 3px 50px 0px rgb(179, 179, 179);

        background: #aca3a7;
        background: -webkit-linear-gradient(top, #aca3a7, #d2c9cc);
        background: -moz-linear-gradient(top, #aca3a7, #d2c9cc);
        background: linear-gradient(to bottom, #aca3a7, #d2c9cc);
      }

      .pic3 {
        height: 80px;
        width: 45%;
        box-shadow: 2px 3px 50px 0px rgb(179, 179, 179);

        background: #c2f0ba;
        background: -webkit-linear-gradient(top, #c2f0ba, #daf5d6);
        background: -moz-linear-gradient(top, #c2f0ba, #daf5d6);
        background: linear-gradient(to bottom, #c2f0ba, #daf5d6);
      }

      .pic4 {
        height: 80px;
        width: 45%;
        box-shadow: 2px 3px 50px 0px rgb(179, 179, 179);

        background: #8da889;
        background: -webkit-linear-gradient(top, #8da889, #c0cabf);
        background: -moz-linear-gradient(top, #8da889, #c0cabf);
        background: linear-gradient(to bottom, #8da889, #c0cabf);
      }
    }

    .centerpicture {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;

      .pic5 {
        width: 45%;
        height: 200px;
        box-shadow: 0px 0px 50px 0px rgb(179, 179, 179);

        background-color: #e1ddda;
        background: #e1ddda;
        background: -webkit-linear-gradient(top, #e1ddda, #f3f3f3);
        background: -moz-linear-gradient(top, #e1ddda, #f3f3f3);
        background: linear-gradient(to bottom, #e1ddda, #f3f3f3);
      }
    }
  }

  > a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 18px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 1000;
    letter-spacing: 1px;
    font-size: 14px;
    background-color: #00ffa3;
    color: rgb(78, 78, 78);
    margin-top: 20px;
    text-transform: uppercase;
    box-shadow: 2px 3px 15px 0px rgba(122, 122, 122, 1);
    text-align: center;
    transition: 0s;
  }
}

//NOTES
.note {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;

  .napis {
    > h2 {
      text-align: center;
      font-size: 18px;
      font-weight: 200;
      font-family: "Raleway", sans-serif;
    }

    > p {
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      font-family: "Raleway", sans-serif;
      margin-bottom: 50px;
    }
  }

  .zbior {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .cytat {
      box-sizing: border-box;
      display: flex;
      padding: 10px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 30px;

      .profile {
        height: 40px;
        width: 40px;
        background-color: #737581;
        border-radius: 50%;
      }

      .tekst {
        display: flex;
        flex-direction: column;
        font-family: "Raleway", sans-serif;
        width: 200px;
        color: black;

        .komentarz {
          font-size: 14px;
          margin-left: 10px;
          width: 200px;
          line-height: 22px;
          color: rgb(85, 85, 85);
          font-style: italic;
          margin-bottom: 10px;
          weight: 100;
        }

        > p {
          margin-left: 10px;
          font-size: 12px;
          font-weight: bold;
          font-family: "Raleway", sans-serif;
        }
      }
    }
  }
}

//FOOTER
.footer {
  .contact {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    padding-top: 60px;

    .kontakt1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;

      h2 {
        font-size: 18px;
        font-weight: 200;
        font-family: "Raleway", sans-serif;
        margin-bottom: 30px;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 143px;
        height: 50px;
        margin-bottom: 30px;

        a {
          display: inline-block;
          padding: 14px;
          text-decoration: none;
          font-family: "Raleway", sans-serif;
          font-weight: 1000;
          letter-spacing: 2px;
          font-size: 14px;
          background-color: transparent;
          color: white;
          text-align: center;
          border: 3px;
          background-color: #262626;
        }
      }
    }

    .kontakt2 {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-family: "Raleway", sans-serif;
      flex-wrap: wrap;

      .kolumna1 {
        width: 50%;
        margin: 10px;

        > h3 {
          font-size: 20px;
          text-align: center;
          color: white;
        }

        > p {
          font-size: 12px;
          color: #71737f;
          text-align: center;
        }
      }

      nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 20px;
        width: 50%;
        margin: 10px;

        > a {
          color: #1a9c60;
          font-size: 12px;
          text-decoration: none;
        }
      }

      .kolumna3 {
        width: 50%;
        margin: 10px;
        color: #1a9c60;
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #1a1a1a;
    padding: 30px;
    font-family: "Raleway", sans-serif;

    > p {
      color: #71737f;
      text-align: center;
      margin-bottom: 10px;
    }

    .authors {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: #71737f;
      }
      a {
        color: #1a9c60;
        text-decoration: none;
        padding: 5px;
      }
    }
  }
}

//MEDIA

//576PX
@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .hidden-xs {
    display: block;
  }

  .hidden-sm {
    display: none;
  }
}

//768PX
@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .hidden-sm {
    display: block;
  }

  .hidden-md {
    display: none;
  }

  .gallery {
    .pallets {
      .sidepictures {
        justify-content: space-evenly;
        .pic1 {
          width: 30%;
          height: 120px;
        }
        .pic2 {
          width: 30%;
          height: 120px;
        }
        .pic3 {
          width: 30%;
          height: 120px;
        }
        .pic4 {
          width: 30%;
          height: 120px;
        }
      }
      .centerpicture {
        .pic5 {
          width: 30%;
          height: 240px;
        }
      }
    }
  }

  .note {
    .napis {
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 18px;
      }
    }
    .zbior {
      .cytat {
        .profile {
          width: 60px;
          height: 60px;
          margin-left: -130px;
        }

        .tekst {
          .komentarz {
            font-size: 20px;
            width: 300px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}

//992PX
@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .hidden-md {
    display: block;
  }

  .hidden-lg {
    display: none;
  }

  .header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 500px;

    .inner-main {
      align-items: flex-start;
      margin-left: 20px;

      p {
        text-align: left;
      }

      a {
        transition: 0.3s;
      }

      a:hover {
        background-color: antiquewhite;
      }
    }
  }

  .adv {
    a:hover {
      background-color: rgb(187, 185, 185);
    }
  }

  .bio {
    div {
      margin: 10px 120px;
      padding: 50px 200px;

      h2 {
        font-size: 35px;
      }

      p {
        font-size: 25px;
      }

      a {
        transition: 0.3s;
        padding: 20px;
        font-size: 18px;
      }
      a:hover {
        background-color: #01c27e;
      }
    }
  }

  .posts {
    flex-direction: row;
    justify-content: space-evenly;
    height: 400px;

    div {
      width: 30%;
      transition: 0.5s;

      p {
        font-size: 16px;
      }
    }

    div:hover {
      margin-bottom: -30px;
    }
  }

  .products {
    div {
      margin: 10px 120px;
      padding: 50px 200px;

      h2 {
        font-size: 35px;
      }

      p {
        font-size: 25px;
      }
    }
  }

  .gallery {
    .pallets {
      flex-direction: row;
      justify-content: space-between;
      width: 60%;
      .sidepictures {
        flex-direction: column;
        justify-content: space-between;
        .pic1 {
          width: 90%;
          height: 180px;
          margin-bottom: 10px;
        }
        .pic2 {
          width: 90%;
          height: 180px;
        }
        .pic3 {
          width: 90%;
          height: 180px;
          margin-bottom: 10px;
        }
        .pic4 {
          width: 90%;
          height: 180px;
        }
      }
      .centerpicture {
        .pic5 {
          width: 90%;
          height: 370px;
        }
      }
    }

    a {
      transition: 0.3s;
      padding: 20px;
      font-size: 18px;
    }
    a:hover {
      background-color: #01c27e;
    }
  }

  .note {
    .napis {
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 26px;
      }
    }
    .zbior {
      flex-direction: row;
      .cytat {
        width: 50%;
        .profile {
        }
        .tekst {
          .komentarz {
            width: 350px;
          }
        }
      }
    }
  }
}

//1200PX
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .hidden-lg {
    display: block;
  }

  .hidden-xl {
    display: none;
  }
}
