//RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//CLASSES
.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.hidden-xs {
  display: none;
}
//HEADER
.header-main-fluid {
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    #3dcdbc,
    #2bc3c0,
    #22b8c2,
    #27adc1,
    #33a2bd
  );
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;

  img {
    width: 80%;
    max-width: 300px;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
  }

  p {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
  }

  a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: white;
    color: #22b8c2;
    margin-top: 20px;
  }
}
//ADVERTISMENT
.adv{
  background-color: rgb(223, 223, 223);

  .background{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    a{
      text-decoration: none;
      padding: 10px;
    }
  }
}

//BIO
.bio{
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 80px;

    h2{
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: black;
      text-align: center;
      font-weight: 800;
      font-size: 18px;
    }

    p {
      margin-top: 10px;
      font-family: "Raleway", sans-serif;
      color: black;
      text-align: center;
      font-weight: 400;
      font-size: 13px;
    }

    a {
      display: inline-block;
      margin-bottom: 20px;
      padding: 10px;
      text-decoration: none;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 10px;
      background-color: #00ffa3;
      color: rgb(78, 78, 78);
      margin-top: 20px;
      text-transform: uppercase;
      box-shadow: 2px 3px 18px 0px rgba(122,122,122,1);
  }
}
}

//MEDIA
@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .hidden-xs {
    display: block;
  }

  .hidden-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }

  .hidden-sm {
    display: block;
  }

  .hidden-md {
    display: none;
  }

  .tlo {
    background-color: red;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .hidden-md {
    display: block;
  }

  .hidden-lg {
    display: none;
  }

  .header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: none;
    padding: 0 15px;
    height: 100vh;

    p{
      text-align: left;
    }

    a {
      transition: 0.5s;
    }

    a:hover {
      background-color: antiquewhite;
    }
  

  div{
    align-items: flex-start;
    margin-left: 20px;
  }

  .bio{
    >div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 200px 200px;

      a{
        transition: 0.5s;
      }
      a:hover{
        background-color: #03bb77;
      }
  }
}
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .hidden-lg {
    display: block;
  }

  .hidden-xl {
    display: none;
  }
}
}