* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.hidden-xs {
  display: none;
}

.header-main-fluid {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3dcdbc), color-stop(#2bc3c0), color-stop(#22b8c2), color-stop(#27adc1), to(#33a2bd));
  background-image: linear-gradient(to right bottom, #3dcdbc, #2bc3c0, #22b8c2, #27adc1, #33a2bd);
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}

.header-main img {
  width: 80%;
  max-width: 300px;
}

.header-main .inner-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main .inner-main > h2 {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.header-main .inner-main > p {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}

.header-main .inner-main > a {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: white;
  color: #22b8c2;
  margin-top: 20px;
  -webkit-box-shadow: 2px 3px 15px 0px #7a7a7a;
          box-shadow: 2px 3px 15px 0px #7a7a7a;
  -webkit-transition: 0s;
  transition: 0s;
}

.adv {
  background: #d9d7d6;
  background: -webkit-gradient(linear, left top, left bottom, from(#d9d7d6), to(#f2efed));
  background: linear-gradient(to bottom, #d9d7d6, #f2efed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  -webkit-box-shadow: inset 0px 0px 30px 10px rgba(136, 136, 136, 0.75);
          box-shadow: inset 0px 0px 30px 10px rgba(136, 136, 136, 0.75);
}

.adv > a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px;
  border-radius: 5px;
}

.bio > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  margin: 60px 80px;
}

.bio > div > h2 {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.bio > div > p {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  color: black;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 20px;
}

.bio > div > a {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 1000;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #00ffa3;
  color: #4e4e4e;
  margin-top: 20px;
  text-transform: uppercase;
  -webkit-box-shadow: 2px 3px 15px 0px #7a7a7a;
          box-shadow: 2px 3px 15px 0px #7a7a7a;
  text-align: center;
  -webkit-transition: 0s;
  transition: 0s;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  padding: 30px 30px;
  margin-bottom: 30px;
  background-color: white;
  -webkit-box-shadow: 2px 3px 15px 0px #bbbbbb;
          box-shadow: 2px 3px 15px 0px #bbbbbb;
}

.posts div img {
  height: 20px;
  margin-right: 10px;
  color: #00ffa3;
}

.posts div h2 {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 1000;
}

.posts div p {
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  line-height: 24px;
}

.products div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin: 20px 80px;
}

.products div h2 {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  color: black;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.products div p {
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  color: black;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .pallets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.gallery .pallets .sidepictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.gallery .pallets .sidepictures .pic1 {
  height: 80px;
  width: 45%;
  -webkit-box-shadow: 2px 3px 50px 0px #b3b3b3;
          box-shadow: 2px 3px 50px 0px #b3b3b3;
  background: #e5a471;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5a471), to(#e6b893));
  background: linear-gradient(to bottom, #e5a471, #e6b893);
}

.gallery .pallets .sidepictures .pic2 {
  height: 80px;
  width: 45%;
  -webkit-box-shadow: 2px 3px 50px 0px #b3b3b3;
          box-shadow: 2px 3px 50px 0px #b3b3b3;
  background: #aca3a7;
  background: -webkit-gradient(linear, left top, left bottom, from(#aca3a7), to(#d2c9cc));
  background: linear-gradient(to bottom, #aca3a7, #d2c9cc);
}

.gallery .pallets .sidepictures .pic3 {
  height: 80px;
  width: 45%;
  -webkit-box-shadow: 2px 3px 50px 0px #b3b3b3;
          box-shadow: 2px 3px 50px 0px #b3b3b3;
  background: #c2f0ba;
  background: -webkit-gradient(linear, left top, left bottom, from(#c2f0ba), to(#daf5d6));
  background: linear-gradient(to bottom, #c2f0ba, #daf5d6);
}

.gallery .pallets .sidepictures .pic4 {
  height: 80px;
  width: 45%;
  -webkit-box-shadow: 2px 3px 50px 0px #b3b3b3;
          box-shadow: 2px 3px 50px 0px #b3b3b3;
  background: #8da889;
  background: -webkit-gradient(linear, left top, left bottom, from(#8da889), to(#c0cabf));
  background: linear-gradient(to bottom, #8da889, #c0cabf);
}

.gallery .pallets .centerpicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.gallery .pallets .centerpicture .pic5 {
  width: 45%;
  height: 200px;
  -webkit-box-shadow: 0px 0px 50px 0px #b3b3b3;
          box-shadow: 0px 0px 50px 0px #b3b3b3;
  background-color: #e1ddda;
  background: #e1ddda;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1ddda), to(#f3f3f3));
  background: linear-gradient(to bottom, #e1ddda, #f3f3f3);
}

.gallery > a {
  display: inline-block;
  margin-bottom: 20px;
  padding: 18px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 1000;
  letter-spacing: 1px;
  font-size: 14px;
  background-color: #00ffa3;
  color: #4e4e4e;
  margin-top: 20px;
  text-transform: uppercase;
  -webkit-box-shadow: 2px 3px 15px 0px #7a7a7a;
          box-shadow: 2px 3px 15px 0px #7a7a7a;
  text-align: center;
  -webkit-transition: 0s;
  transition: 0s;
}

.note {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.note .napis > h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  font-family: "Raleway", sans-serif;
}

.note .napis > p {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin-bottom: 50px;
}

.note .zbior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.note .zbior .cytat {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.note .zbior .cytat .profile {
  height: 40px;
  width: 40px;
  background-color: #737581;
  border-radius: 50%;
}

.note .zbior .cytat .tekst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Raleway", sans-serif;
  width: 200px;
  color: black;
}

.note .zbior .cytat .tekst .komentarz {
  font-size: 14px;
  margin-left: 10px;
  width: 200px;
  line-height: 22px;
  color: #555555;
  font-style: italic;
  margin-bottom: 10px;
  weight: 100;
}

.note .zbior .cytat .tekst > p {
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .hidden-xs {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .hidden-sm {
    display: block;
  }
  .hidden-md {
    display: none;
  }
  .gallery .pallets .sidepictures {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .gallery .pallets .sidepictures .pic1 {
    width: 30%;
    height: 120px;
  }
  .gallery .pallets .sidepictures .pic2 {
    width: 30%;
    height: 120px;
  }
  .gallery .pallets .sidepictures .pic3 {
    width: 30%;
    height: 120px;
  }
  .gallery .pallets .sidepictures .pic4 {
    width: 30%;
    height: 120px;
  }
  .gallery .pallets .centerpicture .pic5 {
    width: 30%;
    height: 240px;
  }
  .note .napis h2 {
    font-size: 22px;
  }
  .note .napis p {
    font-size: 18px;
  }
  .note .zbior .cytat .profile {
    width: 60px;
    height: 60px;
    margin-left: -130px;
  }
  .note .zbior .cytat .tekst .komentarz {
    font-size: 20px;
    width: 300px;
  }
  .note .zbior .cytat .tekst p {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .hidden-md {
    display: block;
  }
  .hidden-lg {
    display: none;
  }
  .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px;
    height: 500px;
  }
  .header-main .inner-main {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 20px;
  }
  .header-main .inner-main p {
    text-align: left;
  }
  .header-main .inner-main a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-main .inner-main a:hover {
    background-color: antiquewhite;
  }
  .adv a:hover {
    background-color: #bbb9b9;
  }
  .bio div {
    margin: 10px 120px;
    padding: 50px 200px;
  }
  .bio div h2 {
    font-size: 35px;
  }
  .bio div p {
    font-size: 25px;
  }
  .bio div a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 20px;
    font-size: 18px;
  }
  .bio div a:hover {
    background-color: #01c27e;
  }
  .posts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 400px;
  }
  .posts div {
    width: 30%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .posts div p {
    font-size: 16px;
  }
  .posts div:hover {
    margin-bottom: -30px;
  }
  .products div {
    margin: 10px 120px;
    padding: 50px 200px;
  }
  .products div h2 {
    font-size: 35px;
  }
  .products div p {
    font-size: 25px;
  }
  .gallery .pallets {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
  }
  .gallery .pallets .sidepictures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gallery .pallets .sidepictures .pic1 {
    width: 90%;
    height: 180px;
    margin-bottom: 10px;
  }
  .gallery .pallets .sidepictures .pic2 {
    width: 90%;
    height: 180px;
  }
  .gallery .pallets .sidepictures .pic3 {
    width: 90%;
    height: 180px;
    margin-bottom: 10px;
  }
  .gallery .pallets .sidepictures .pic4 {
    width: 90%;
    height: 180px;
  }
  .gallery .pallets .centerpicture .pic5 {
    width: 90%;
    height: 370px;
  }
  .gallery a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 20px;
    font-size: 18px;
  }
  .gallery a:hover {
    background-color: #01c27e;
  }
  .note .napis h2 {
    font-size: 30px;
  }
  .note .napis p {
    font-size: 26px;
  }
  .note .zbior {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .note .zbior .cytat {
    width: 50%;
  }
  .note .zbior .cytat .tekst .komentarz {
    width: 350px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .hidden-lg {
    display: block;
  }
  .hidden-xl {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */